<!-- app/views/chat_rooms/_side_bar.html.erb -->
<div class="side-header">
  <div class="side-header_contents">
    <div class="user-name"><%= current_user.username %></div>
    <div class="new-chat">
      <%= link_to 'チャットを作成する', new_chat_room_path %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "chat_rooms_sidebar" do %>
  <div class="rooms">
    <% current_user.chat_rooms.each do |chat_room| %>
      <%= render partial: 'chat_rooms/room', locals: { chat_room: chat_room } %>
    <% end %>
  </div>
<% end %>
